<button mat-fab color="accent" class="fab" (click)="addChannel()">
 <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>

</button>

<div *ngIf=show>
    <mat-spinner style="margin:0 auto; display: block " mode="indeterminate"></mat-spinner>
</div>
<div class="row" *ngIf="channelList?.length > 0 else empty">
    <h3>
        List of You Tube Channel ID </h3>


    <mat-card class="table-card">
        <mat-table #table [dataSource]="dataSource">
            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- Serial No. -->

            <ng-container matColumnDef="S.no.">
                <mat-header-cell *matHeaderCellDef> S.No. </mat-header-cell>
                <mat-cell *matCellDef="let element let i=index">{{i+1}} </mat-cell>
            </ng-container>

            <!-- Channel Name Column -->

            <ng-container matColumnDef="channelName">
                <mat-header-cell *matHeaderCellDef> Channel Name </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <input matInput [formControl]="ChannelNameControl" [(ngModel)]="element.ChannelName" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="ChannelNameControl.hasError('minlength') && !ChannelNameControl.hasError('required')">
                                Channel Name too short
                            </mat-error>
                            <mat-error *ngIf="ChannelNameControl.hasError('required')">
                                Channel Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </form>
                </mat-cell>
            </ng-container>

            <!-- Channel Id Column -->

            <ng-container matColumnDef="channelId">
                <mat-header-cell *matHeaderCellDef> Channel Id </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <input matInput id="channelId" [formControl]="channelIdControl" [(ngModel)]="element.ChannelId" [errorStateMatcher]="matcher" />
                            <mat-error *ngIf="channelIdControl.hasError('minlength') && channelIdControl.hasError('maxlength') && !channelIdControl.hasError('required')">
                                Please enter a <strong>valid Channel Id</strong>
                            </mat-error>
                            <mat-error *ngIf="channelIdControl.hasError('required')">
                                Channel Id is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </form>
                </mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>

                <mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" [disabled]="channelIdControl.invalid || ChannelNameControl.invalid" (click)="update(element._id , element.ChannelName ,element.ChannelId  )">Update</button>
                    <button mat-raised-button color="warn" (click)="delete(element._id)">Delete</button> </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">{{row}}</mat-row>

        </mat-table>
    </mat-card>

</div>

<ng-template #empty>
    <h3> Channel List Not Found </h3>
    <img src="../../assets/sad.png" width="200px" height="200px" style="margin : auto ; display : block " />

</ng-template>