<mat-toolbar color="accent">
    <span> Admin Dashboard</span>
</mat-toolbar>

<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon svgIcon="Itune"> </mat-icon> Prodcasts
        </ng-template>

        <h1> Prodcasts Available Shortly </h1>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Blogs Feed
        </ng-template>
        <h1>Blogs Available Shortly</h1>

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon svgIcon="you-tube"></mat-icon> You Tube
        </ng-template>


        <app-you-tube></app-you-tube>

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            Social Media
        </ng-template>
        <h1> Social Media Available Shortly </h1>

    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            News Post
        </ng-template>
        <h1> News Post Available Shortly </h1>

    </mat-tab>
</mat-tab-group>